@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --s: 57px; /* control the size*/
    --c1: #7bb0a8;
    --c2: #a7dbab;
    
    --_c: var(--c1) calc(100% - var(--s)/2) 99%,#0000;
    --_g: var(--s),#0000 calc(99% - var(--s)/2),var(--_c);
    background:
      radial-gradient(var(--s) at 100% var(--_g)),
      radial-gradient(calc(var(--s)/4) at 50% calc(100%/3),var(--_c)) var(--s) 0,
      radial-gradient(var(--s) at   0% var(--_g)) 0 calc(3*var(--s))
      var(--c2);
    background-size: 
      calc(2*var(--s)) calc(9*var(--s)/4),
      calc(2*var(--s)) calc(3*var(--s)/4);
  }

  @font-face {
    font-family: 'PetitFormalScript';
    src: url('./assets/PetitFormalScript-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
body{
    color: #ECF39E
}
.signup_buttons{
    @apply  border-b border-[#ECF39E] w-[150px] rounded-md hover:bg-[#90A955] transition duration-300
}
input{
    color : black;
}
.input_submitProduct{
  @apply w-[80%] mx-auto
}
.label_submitProduct{
  @apply mb-[10px] pl-[20px]
}
.p_submitProduct{
  @apply text-sm w-[80%] mx-auto mt-3
}
.p_productCard{
  @apply italic leading-loose font-semibold 
}
.span_productCard{
  @apply font-medium  
}
.input_profile{
  @apply rounded-xl pl-3
}

.p_orderCard{
  @apply italic
}
.span_orderCard{
  @apply text-gray-300 
}